<!DOCTYPE html>
<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
    </head>

    <body ng-app="myApp">

        <div class="container" ng-controller="BaseController as base">

            <div class="row">
                <div class="col-xs-12">
                    <h1>The Ultimate European Tour</h3>
                    <p>Everyone has their list of all the places you need to visit across Europe. This is a compilation of all the most popular destinations. Select a country to see the top places to visit and what to do at the #1 destination in the country.</p>
                    <p>{{ base.message }}</p>
                </div>
            </div>
            <div class="row" ng-controller="CountryController as countryCtrl">
                <div class="col-xs-12">

                      <select class="form-control">

                        <option value="0" selected>Select a Country</option>

                        <option ng-repeat="country in countryCtrl.countries" value="{{country.countryName}}">{{country.countryName}}</option>

                      </select>

                </div>
                <div ng-repeat="country in countryCtrl.countries" class="col-xs-12">
                  <h2>{{country.countryName}}</h2>
                  <div ng-repeat="city in country.topCities">
                    <h3>{{city.cityName}}</h3>
                    <img ng-src="{{city.image}}" height=250px />
                    <ol>
                      <li>{{city.sites[0]}}</li>
                      <li>{{city.sites[1]}}</li>
                      <li>{{city.sites[2]}}</li>
                    </ol>
                  </div>
                </div>
            </div>

        </div>

    </body>
</html>
